@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* this is where we're storing our custom variables */
:root {
  --colour-01: rgb(159, 21, 245);
  --colour-02: rgb(1, 0, 0);
  --colour-03: rgb(173, 82, 218);
  --colour-04: rgb(44, 1, 129);
  --border: 0.25rem double var(--colour-03);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-01: rgb(1, 0, 0);
    --colour-02: rgb(159, 21, 245);
    --colour-03: rgb(44, 1, 129);
    --colour-04: rgb(173, 82, 218);
  }
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--colour-01);
  color: var(--colour-02);
}

dialog[open] {
  background-color: var(--colour-01);
  color: var(--colour-02);
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: var(--border);
}

button {
  border: var(--border);
}

#key-test {
  cursor: pointer;
}

#key-test:active {
  background-color: red;
}
